/* -- undo HTML -- */
:link,:visited {text-decoration: none;}
ul,ol {list-style: none;}
h1,h2,h3,h4,h5,h6,pre,code,p {font-size: 1em;}
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {margin: 0; padding: 0; font-family: Arial, Helvetica, Verdana, sans-serif;}
a img,:link img,:visited img { border: none; text-decoration: none; }
a, a:link, a:visited { color: black; }

/* remove element out of document flow */
.remove { position: absolute; }

.clear { clear: both; }

@media screen {

/* generic styling */

body { background: url(/uk/i/bg.gif); }

/* flash styling */

div#page { background: transparent; min-height: 595px;}
div#topAd	{	width:755px; height:90px;	}
div#topAd IMG	{	float:left;	}
div.parent {width:1000px;	margin:0px auto;	}
div#flash-content { width: 790px; height: 635px; margin: 5px 20px 5px 0px; float:left; }
div#rightAd	{	width:160px; height:600px; float:left; margin: 5px auto 0 auto;	}


div#flash_not_found { background: white; padding: 1em 2em; float:left; }
div#flash_not_found h1 { font-size: 1.3em; margin-bottom: 0.3em; }
div#flash_not_found p { font-size: 0.9em; color: #003399; margin-bottom: 1em; }
div#flash_not_found h2 { font-size: 1.1em; }
div#flash_not_found a { padding: 0.2em 0.5em; border: 1px solid black; }
div#flash_not_found a:hover { text-decoration: none; background: #000; color: #fff; }

}
